<script> var recipeTitles = <%= @recipe_title.to_json.html_safe %> </script>

<div ng-controller="MainController" class="bodytext">
  <div class="large-padded-row">
  <p class="base">What Dish do you want to use as a base?</p>
    <div class="padded-row">
      <angucomplete id="ex1" placeholder="Enter Food" pause="100" selectedobject="recipe" localdata="titles" searchfields="name" titlefield="name" minlength="1" inputclass="form-control form-control-small" matchclass="highlight" ng-click="find_ingredient()"></angucomplete>
    </div>
    <div class="eatItBody" ng-show="recipe" class="clearfix">
      <p>You selected <span class="bold-span">{{recipe.originalObject.name}}</span> </p>
      <form name="ingredientForm" data-remote="true" id="recipeDropDown" >
	      <div class='left'>
      		<p>Of the ingredients included, which would you not like to see again?</p>
	      	<input type="hidden" value="{{recipe.originalObject.name}}" name="recipe_title"></input>
		      <span class="bold-span" ng-repeat="ingredient in oneRecipeIngredient">
		      	<my-check-box text='{{ingredient}}'></my-check-box>
		      </span>
		    </div>
		    <div class='right'>
		      <p>What ingredient would you be interested in seeing? (Separate with commas)</p>
		      <input id="ingredientInput" type="textarea" placeholder="Desired Ingredient"></input>
		      <button ng-click="getRecipes()" type="submit" value="submit" class="submit-button">Click to Begin</button>
		    </div>
		</div>
      </form>
	</div>
	<div class="eatItBody">
		<div ng-repeat="recipe in resultsRecipes">
			<a class="matchedRecipeTitle" href="..." onclick="return false;">{{recipe.title}}</a>
			<ul class="list">Ingredients:
				<span ng-repeat="ingredient in recipe.ingredient"><li class='Ingredient'>{{ingredient}}</li></span>
			</ul>
			<ul class="list">Directions: 
				<span ng-repeat="direction in recipe.direction"><li class='Direction'>{{direction}}</li></span>
			<br>Start Over With <button class='list' ng-click="restart(recipe.title)" type="submit" value="{{recipe.title}}">{{recipe.title}}</button>
			</ul>
		</div>
	</div>
</div>	
