/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
	background-color: #4bfeb1;
	margin-left: 0;
	height:100%;
}
body{
	position: relative;
	height: auto;
	min-height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	width:900px;
	margin: 0 auto;
	background-color: #59dbdb;
	main {
		display:block;
		overflow:auto;
	}
}
h1,h2 {
	color:white;
	text-shadow: #de6069 2px 2px 2px, #de6069 -2px -2px 2px, #de6069 2px -2px 2px, #de6069 -2px 2px 2px;
	font-size: 2em;
	font-family: 'Cantarell', sans-serif;
	font-style: italic;
	margin: 0;
	text-align: center;
}
h2{
	font-size: 1.5em
}
p{
	color:#3A2445;
	font-size: 1.25em;
}

.dark-green{
	color:#26561E	;
	font-style: italic;
}

.clear {clear: both};
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}