// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p.ingredient {
	margin:0;
	font-size: 1em;
}

.bodytext p{
	color:#8a272e;
}
input{
	margin-left: 15px;
}

.left{
	width:45%;
	float:left;
}

.right{
	width:45%;
	float: right;
}

.matchedRecipeTitle{
	font-size: 1.5em;
	color:#de6069;
}

li{
	color: #3c0659;
}