<!DOCTYPE html>
<html>
<head>
  <title>EatIT</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body ng-app="app">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand">EatIt!</span>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#">Exotic Foods &amp; Their Choice Replacements!</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="http://jspenkar.com">Made by Jeffrey Penkar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="clearfix main" style="margin-top:50px;">
    <p>For those days you kinda want that <span class="dark-green">Saag Paneer, but why can't I get it without <span class="dark-green">Spinich?</span>

    <p>
      <span class="dark-green">HOW IT WORKS:</span>
      Give us a food you have had recently. Maybe you liked it, maybe you think there is something better out there and we will help you find a recipe more suited to your taste!
    </p>

    <%= yield %>
  </div>
</body>
</html>
