<!DOCTYPE html>
<html>
<head>
  <title>EatIT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
EatIt!<br>
For those days you kinda want that Sag Paneer, but does it come without spinich?<br>

HOW IT WORKS: Give us a food you have had recently. Maybe you liked it, maybe you think there is something better out there and we will help you find a recipe more suited to your taste!


<%= yield %>

</body>
</html>
