<!DOCTYPE html>
<html>
<head>
  <title>EatIT</title>
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
 <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body  ng-app="app">
EatIt!<br>
For those days you kinda want that Saag Paneer, but does it come without spinich?<br>
HOW IT WORKS: Give us a food you have had recently. Maybe you liked it, maybe you think there is something better out there and we will help you find a recipe more suited to your taste!<br>
What Dish do you want to use as a base?<br>

<%= yield %>

</body>
</html>
